<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-4 billing-details">
                <div class="section-title">
                    <h3 class="title">Thông tin sản phẩm</h3>
                </div>
                <a href="/admin/editProduct" class="btn btn-success">Thêm ảnh chính</a>
                <a href="/admin/editProduct" class="btn btn-success">Thêm ảnh thu nhỏ</a>
                <br><br>                   
                <div class="form-group">
                    <label>Mã sản phẩm:</label>
                    <input class="input" type="text" placeholder="Mã sản phẩm">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm:</label>
                    <input class="input" type="text" placeholder="Tên sản phẩm">
                </div>
                <div class="form-group">
                    <label>Số lượng tồn:</label>
                    <input class="input" type="text" placeholder="Số lượng tồn">
                </div>
                <div class="form-group">
                    <label>Đơn giá:</label>
                    <input class="input" type="text" placeholder="Đơn giá">
                </div>
                <div class="section-title text-right">
                    <a href="#" class="primary-btn order-submit">Thêm</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->