<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="col-md-12">
            <div class="section-title">
                <h3 class="title">Sửa sản phẩm</h3>
            </div>
        </div>
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="/imgs/Hyundai Elantra GLS.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="/imgs/Hyundai Elantra GLS.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->

            <div class="col-md-4 billing-details">
                <a href="/admin/editProduct" class="btn btn-success">Thêm ảnh chính</a>
                <a href="/admin/editProduct" class="btn btn-success">Thêm ảnh thu nhỏ</a>
                <br><br>                   
                <div class="form-group">
                    <label>Mã sản phẩm:</label>
                    <input class="input" type="text" value="MA123">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm:</label>
                    <input class="input" type="text" value="Hyundai Elantra GLS">
                </div>
                <div class="form-group">
                    <label>Số lượng tồn:</label>
                    <input class="input" type="text" value="100">
                </div>
                <div class="form-group">
                    <label>Đơn giá:</label>
                    <input class="input" type="text" value="$980.00">
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->