{{#section 'navHomeActive'}}
    class = "active"
{{/section}}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Dashboard</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="list-group">
                    <a href="/admin/manageProduct" class="list-group-item">Quản lý sản phẩm</a>
                    <a href="/admin/manageType" class="list-group-item">Quản lý loại sản phẩm</a>
                    <a href="/admin/manageProducer" class="list-group-item">Quản lý nhà sản xuất</a>
                    <a href="/admin/manageOrder" class="list-group-item">Quản lý đơn hàng</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->