<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Quản lý loại sản phẩm</h3>
                </div>
            </div>

            <div class="col-md-6 header-search">
                <form action="/admin/manageProduct" method="GET">
                    <input class="input" placeholder="Nhập tên loại">
                    <a href="#" class="btn btn-success">Thêm loại sản phẩm</a>
                </form>
            </div>
            <br><br>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-3">Loại sản phẩm</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="input" type="text" value="Xe con"></td>
                    <td><a href="#" class="btn btn-danger">Xóa</a></td>
                </tr>

                <tr>
                    <td><input class="input" type="text" value="Xe tải"></td>
                    <td><a href="#" class="btn btn-danger">Xóa</a></td>
                </tr>
                <tr>
                    <td><input class="input" type="text" value="Xe khách"></td>
                    <td><a href="#" class="btn btn-danger">Xóa</a></td>
                </tr>
                <tr>
                    <td><input class="input" type="text" value="Xe container"></td>
                    <td><a href="#" class="btn btn-danger">Xóa</a></td>
                </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-success">Cập nhật</a>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->