<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Quản lý sản phẩm</h3>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <div class="header-search">
                    <form action="/admin/manageProduct" method="GET">
                        <input class="input" placeholder="Nhập từ khóa">
                        <input type="submit" class="search-btn" value="Tìm kiếm" >
                    </form>
                </div>
            </div>
            <a href="/admin/addProduct" class="btn btn-success">Thêm sản phẩm</a>
            <br><br>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Mã sản phẩm</th>
                    <th class="col-md-1">Hình ảnh</th>
                    <th class="col-md-3">Tên sản phẩm</th>
                    <th class="col-md-2">Số lượng tồn</th>
                    <th class="col-md-2">Đơn giá</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MA123</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 50px;" src="/imgs/Hyundai Elantra GLS.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Elantra GLS</td>
                    <td>100</td>
                    <td>$980.00</td>
                    <td> 
                        <a href="/admin/editProduct" class="btn btn-primary">Sửa</a>
                        <a href="#" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>

                <tr>
                    <td>MA456</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 50px;" src="/imgs/Hyundai Elantra Limited.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Elantra Limited</td>
                    <td>300</td>
                    <td>$980.00</td>
                    <td>
                        <a href="/admin/editProduct" class="btn btn-primary">Sửa</a>
                        <a href="#" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>MA789</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 50px;" src="/imgs/Hyundai Sonata Limited 2.0T.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Sonata Limited 2.0T</td>
                    <td>300</td>
                    <td>$980.00</td>
                    <td>
                        <a href="/admin/editProduct" class="btn btn-primary">Sửa</a>
                        <a href="#" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>MA321</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 50px;" src="/imgs/Hyundai Tucson Limited.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Tucson Limited</td>
                    <td>300</td>
                    <td>$980.00</td>
                    <td>
                        <a href="/admin/editProduct" class="btn btn-primary">Sửa</a>
                        <a href="#" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>MA654</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 50px;" src="/imgs/Hyundai Veloster Base.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Veloster Base</td>
                    <td>300</td>
                    <td>$980.00</td>
                    <td>
                        <a href="/admin/editProduct" class="btn btn-primary">Sửa</a>
                        <a href="#" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->