<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Quản lý đơn hàng</h3>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-1">Mã ĐH</th>
                    <th class="col-md-1">Mã KH</th>
                    <th class="col-md-3">Tên xe</th>
                    <th class="col-md-1">Số lượng</th>
                    <th class="col-md-3">Tình trạng</th>
                    <th class="col-md-2">Tổng tiền</th>
                    <th class="col-md-2">Ngày tạo</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MA1512</td>
                    <td>MK123</td>
                    <td>Hyundai Elantra GLS</td>
                    <td>1</td>
                    <td>
                        <div class="row">
                            <select style="font-weight: bold; color:green " class="col-md-6 input-select">
                                <option style="font-weight: bold; color: green" value="0">Đã giao</option>
                                <option style="font-weight: bold; color: blueviolet" value="1">Đang giao</option>
                                <option style="font-weight: bold; color: red" value="1">Chưa giao</option>
                            </select>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-success"><span class="fa fa-refresh"></span></a>
                            </div>
                        </div>
                    </td>
                    <td>$980.00</td>
                    <td>26/04/2018</td>
                </tr>

                <tr>
                    <td>MA138</td>
                    <td>MK343</td>
                    <td>Hyundai Elantra Limited</td>
                    <td>3</td>
                    <td>
                        <div class="row">
                            <select style="font-weight: bold; color:blueviolet " class="col-md-6 input-select">
                                <option style="font-weight: bold; color: blueviolet" value="0">Đang giao</option>
                                <option style="font-weight: bold; color: green" value="1">Đã giao</option>
                                <option style="font-weight: bold; color: red" value="1">Chưa giao</option>
                            </select>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-success"><span class="fa fa-refresh"></span></a>
                            </div>
                        </div>
                    </td>
                    <td>$2940.00</td>
                    <td>15/04/2018</td>
                </tr>
                <tr>
                    <td>MA456</td>
                    <td>MK523</td>
                    <td>Hyundai Sonata Limited 2.0T</td>
                    <td>3</td>
                    <td>
                        <div class="row">
                            <select style="font-weight: bold; color:red " class="col-md-6 input-select">
                                <option style="font-weight: bold; color: red" value="0">Chưa giao</option>
                                <option style="font-weight: bold; color: green" value="1">Đã giao</option>
                                <option style="font-weight: bold; color: blueviolet" value="1">Đang giao</option>
                            </select>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-success"><span class="fa fa-refresh"></span></a>
                            </div>
                        </div>
                    </td>
                    <td>$2940.00</td>
                    <td>11/04/2018</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->