{{#section 'title'}}
    Đăng nhập
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
    <li><a href="javascript:;">Đăng nhập</a>
{{/section}}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        {{#if showError}}
        <div class="alert alert-warning">
            <strong>Đăng nhập thất bại!</strong>
        </div>
        {{/if}}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/home/account/login" method="POST">
                    <div class="section-title text-center">
                        <h2 class="title">Đăng nhập</h2>
                    </div><br>
                    <div class="form-group">
                        <label>Tên tài khoản:</label>
                        <input name="username" class="input" type="text" placeholder="Tên tài khoản">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu:</label>
                        <input name="password" class="input" type="password" placeholder="Mật khẩu">
                    </div><br>
                    <input type="submit" class="primary-btn order-submit" value="Đăng nhập">
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->