{{#section 'title'}}
    Đăng nhập
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
    <li><a href="/home/account/login">Đăng nhập</a>
{{/section}}

{{!-- <!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="billing-details">
                    <div class="section-title text-center">
                        <h2 class="title">Đăng nhập</h2>
                    </div><br>
                    <div class="form-group">
                        <label>Email:</label>
                        <input id="DCEmail" class="input" type="text" placeholder="Địa chỉ email">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu:</label>
                        <input class="input" type="password" placeholder="Mật khẩu">
                    </div><br>
                    <div class="section-title text-center">
                        <!-- <a href="./user/" class="primary-btn order-submit">Đăng nhập</a> -->
                        <button class="primary-btn order-submit" onclick="toUser()">Đăng nhập</button>
                    </div>
                    <script>
                        var toUser = function toUser() {
                            if (document.getElementById("DCEmail").value === "user") 
                                window.location = "/user";

                            if (document.getElementById("DCEmail").value === "admin") 
                                window.location = "/admin";
                            return;
                        }
                    </script>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION --> --}}