{{#section 'title'}}
    Đăng ký
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
    <li><a href="javascript:;">Đăng ký</a>
{{/section}}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        {{#if isAction}}
            {{#if isPassword}}
                {{#if isSuccess}}
                <div class="alert alert-success">
                    <strong>Đăng ký thành công!</strong>
                </div>
                {{else}}
                <div class="alert alert-warning">
                    <strong>Tài khoản đã tồn tại!</strong>
                </div>
                {{/if}}
            {{else}}
            <div class="alert alert-warning">
                <strong>Sai mật khẩu!</strong>
            </div>
            {{/if}}
        {{/if}}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="billing-details">
                    <div class="section-title text-center">
                        <h2 class="title">Đăng ký</h2>
                    </div><br>
                    <form action="/home/account/register" method="POST">
                        <div class="form-group">
                            <label>Tên tài khoản:</label>
                            <input name="username" class="input" type="text" placeholder="Tên tài khoản">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu:</label>
                            <input name="password" class="input" type="password" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu:</label>
                            <input name="rePassword" class="input" type="password" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="form-group">
                            <label>Họ tên:</label>
                            <input name="name" class="input" type="text" placeholder="Họ tên">
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input name="email" class="input" type="text" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ:</label>
                            <input name="address" class="input" type="text" placeholder="Địa chỉ">
                        </div>

                        {{!-- <div class="g-recaptcha" data-sitekey="your_site_key"></div> --}}
                        <br/>
                        <input type="submit" class="primary-btn order-submit" value="Đăng ký" >
                    </form>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->