<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <h2>Giỏ hàng</h2><br>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-1">Hình ảnh</th>
                    <th class="col-md-3">Tên xe</th>
                    <th class="col-md-3">Số lượng</th>
                    <th class="col-md-3">Đơn giá</th>
                    <th class="col-md-2">Tổng cộng</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="product-img">
                            <img style="width: 100px;" src="/imgs/Hyundai Elantra GLS.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Elantra GLS</td>
                    <td>
                        <div class="row">
                            <div class="col-md-4 input-number">
                                <input type="number" value="1">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <div class="col-md-5">
                                <a href="#" class="btn btn-success"><span class="fa fa-refresh"></span></a>
                                <a href="#" class="btn btn-danger"><span class="fa fa-remove"></span></a>
                            </div>
                        </div>
                    </td>
                    <td>$980.00</td>
                    <td>$980.00</td>
                </tr>

                <tr>
                    <td>
                        <div class="product-img">
                            <img style="width: 100px;" src="/imgs/Hyundai Elantra Limited.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Elantra Limited</td>
                    <td>
                        <div class="row">
                            <div class="col-md-4 input-number">
                                <input type="number" value="3">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <div class="col-md-5">
                                <a href="#" class="btn btn-success"><span class="fa fa-refresh"></span></a>
                                <a href="#" class="btn btn-danger"><span class="fa fa-remove"></span></a>
                            </div>
                        </div>
                    </td>
                    <td>$980.00</td>
                    <td>$2940.00</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-10"></div>
            <div>
                <b>Thành tiền: $3920.00</b>
            </div>
        </div>
        <!-- /row -->
        <div class="section-title text-right">
            <a href="/user/checkout" class="primary-btn order-submit">Thanh toán</a>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->