<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="section-title">
                <h3 class="title">Lịch sử đơn hàng</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2">Mã đơn hàng</th>
                    <th class="col-md-1">Hình ảnh</th>
                    <th class="col-md-2">Tên xe</th>
                    <th class="col-md-1">Số lượng</th>
                    <th class="col-md-1">Tình trạng</th>
                    <th class="col-md-2">Tổng tiền</th>
                    <th class="col-md-2">Ngày tạo</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MA1512</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 100px;" src="/imgs/Hyundai Elantra GLS.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Elantra GLS</td>
                    <td>1</td>
                    <td><b style="color: green">Đã giao</b></td>
                    <td>$980.00</td>
                    <td>26/04/2018</td>
                    <td> <a href="/user/inforHistory" class="btn btn-success">Chi tiết</a></td>
                </tr>

                <tr>
                    <td>MA138</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 100px;" src="/imgs/Hyundai Elantra Limited.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Elantra Limited</td>
                    <td>3</td>
                    <td><b style="color:blueviolet">Đang giao</b></td>
                    <td>$2940.00</td>
                    <td>15/04/2018</td>
                    <td> <a href="/user/inforHistory" class="btn btn-success">Chi tiết</a></td>
                </tr>
                <tr>
                    <td>MA456</td>
                    <td>
                        <div class="product-img">
                            <img style="width: 100px;" src="/imgs/Hyundai Sonata Limited 2.0T.jpg" alt="">
                        </div>
                    </td>
                    <td>Hyundai Sonata Limited 2.0T</td>
                    <td>3</td>
                    <td><b style="color:red">Chưa giao</b></td>
                    <td>$2940.00</td>
                    <td>11/04/2018</td>
                    <td> <a href="/user/inforHistory" class="btn btn-success">Chi tiết</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->