<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Billing Details -->
            <div class="billing-details">
                <div class="section-title">
                    <h3 class="title">Thông tin đơn hàng</h3>
                </div>
                <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-2">Mã đơn hàng</th>
                            <th class="col-md-1">Hình ảnh</th>
                            <th class="col-md-2">Tên xe</th>
                            <th class="col-md-1">Số lượng</th>
                            <th class="col-md-1">Tình trạng</th>
                            <th class="col-md-1">Tổng tiền</th>
                            <th class="col-md-2">Ngày tạo</th>
                            <th class="col-md-2">Phí giao hàng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>MA1512</td>
                            <td>
                                <div class="product-img">
                                    <img style="width: 100px;" src="../img/Hyundai Elantra GLS.jpg" alt="">
                                </div>
                            </td>
                            <td>Hyundai Elantra GLS</td>
                            <td>1</td>
                            <td>Đã giao</td>
                            <td>$980.00</td>
                            <td>26/04/2018</td>
                            <td>Miễn phí</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-md-7">
                    <div class="form-group">
                        <label>Địa chỉ giao hàng:</label>
                        <input class="input" type="text" value="231a/13 Dương Bá Trạc" readonly>
                    </div>
                    <div class="form-group">
                        <label>Tỉnh/ Thành phố:</label>
                        <input class="input" type="text" value="TP Hồ Chí Minh" readonly>
                    </div>
                    <div class="form-group">
                        <label>Quận/ Huyện:</label>
                        <input class="input" type="text" value="Quận 8" readonly>
                    </div>
                    <div class="form-group">
                        <label>Phường/ Xã:</label>
                        <input class="input" type="text" value="Phường 1" readonly>
                    </div>
                </div>
            </div>
            <!-- /Billing Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->