<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Kết quả tìm kiếm</h3>
                </div>
            </div>
            <!-- /section title -->

            <!-- store products -->
            <div class="row">
                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Toyota 4Runner TRD Pro.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Toyota 4Runner TRD Pro</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Toyota Camry CE.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Toyota Camry CE</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->


                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Toyota Celica ST.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Toyota Celica ST</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->


                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Toyota Highlander Limited.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Toyota Highlander Limited</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->


                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Hyundai Veloster Base.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Hyundai Veloster Base</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Lexus CT 200h Base.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Lexus CT 200h Base</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->


                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Lexus ES 330.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Lexus ES 330</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Lexus IS 250 Base.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Lexus IS 250 Base</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->


                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Lexus IS-F Base.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Lexus IS-F Base</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Hyundai Elantra GLS.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Hyundai Elantra GLS</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Toyota Camry LE.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Toyota Camry LE</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->

                <!-- product -->
                <div class="col-md-3 col-xs-6">
                    <div class="product">
                        <div style="height: 250px;" class="product-img">
                            <img src="/imgs/Toyota Highlander Limited.jpg" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="#">Toyota Highlander Limited</a></h3>
                            <h4 class="product-price">$980.00</h4>
                            <div>
                                <a href="/product" class="btn btn-info" role="button">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /product -->
            </div>
            <!-- /store products -->
            <div class="store-filter clearfix">
                <ul class="store-pagination">
                    <li class="active">1</li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->